
@media screen and (min-width: 675px) {
  /* ログイン、ログアウトページ */

  .login-logout-form{
    color: aliceblue;
  }

  .check-form{
    display: flex;
    padding: 3px;
    margin: 3px;
    margin-left: 10px;
  }

  .check-form label{
    line-height: 1.5;
  }

  .check-form-textarea{
    resize: none;
    width:60%;
    height:20px;
  }

  .for-payment{
    display: flex;
    justify-content: space-around;
    margin: 30px 0 25px 0;
  }

  .payment-label{
    padding-top: 10px;
  }
}

@media screen and (max-width: 674px) {
  .login-logout-form{
    color: aliceblue;
  }

  .check-form{
    padding: 3px;
    margin: 3px;
    margin-left: 10px;
  }

  .check-form label{
    line-height: 1.5;
  }
  .check-form-textarea{
    height:50px;
  }

  .payment-label{
    padding-top: 10px;
  }
}
