.click_pop{
  width: 224px;
  height: 260px;
  object-fit: cover;
  margin-bottom: 27px;
}

#products_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.product_contents{
  margin: 20px;
}

.products-name p{
  margin-bottom: 10px;
  font-size: 14px;
}
